<h1>[% page_title %]</h1>
[% IF articles.count > 0 %]
<div id="modules-holder">
	[% WHILE ( article = articles.next) %]
		[% INCLUDE blog/article.tt2 %]
	[% END %]
</div>
[% ELSE %]
	[% page_message %]
[% END %]

[% IF c.can('check_user_roles') && c.check_user_roles( 'admin' ) %]
<hr/>
<p>
	<a href="[% c.uri_for('/blog/add') | html %]">[% c.loc("ui.article.link.add") %]</a>
</p>
[% END %]

