[% META title = 'Add/Edit Gallery Properties' %]
<h1>[% gallery.title | html %]</h1>
<!-- <p>[% gallery.description | html %]</p> -->
[% UNLESS form.submitted_and_valid %]
	[% form %]
[% ELSE %]
	<p>Success!</p>
[% END %]
