*{
	margin:0;
	padding:0;
}
body{
	font-family:Helvetica, sans-serif;
	font-size:16px;
	color:#fff;
	background-color:#000;
	overflow:hidden;
}
#header {
	position: fixed;
	z-index: 9995;
	width: 100%
}
#header h1.title{
	font-family:"Myriad Pro","Trebuchet MS", Helvetica, sans-serif;
	font-size:40px;
	font-weight: normal;
	letter-spacing: 4px;
	color:#FFFFFF;
	margin:20px 120px 20px;
	text-shadow: 0px 0px 7px #000000;
}
#right {
	position: fixed;
	width: 80%;
	top: 120px;
	right: 0px;
	padding: 20px;
	background: #000;
	z-index:9999;
	border: 1px solid #333333;
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	z-index: 9990;
}
#gallery_info {
	position: fixed;
	width: 80%;
	top: 120px;
	right: 0px;
	padding: 20px;
	background: #000;
	border: 1px solid #333333;
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	z-index: 9990;
}
#gallery_info h1 {
	position: relative;
	font-family:"Myriad Pro","Trebuchet MS", Helvetica, sans-serif;
	font-size:30px;
	font-weight: normal;
	letter-spacing: 4px;
	color:#FFFFFF;
	display: block;
}
#gallery_info h2 {
	font-family:"Myriad Pro","Trebuchet MS", Helvetica, sans-serif;
	font-size:20px;
	font-weight: normal;
	letter-spacing: 4px;
	color:#FFFFFF;
	
}
#gallery_info p {
	
}

#media_info {
	position: fixed;
	width: 80%;
	top: 120px;
	right: 0px;
	padding: 20px;
	background: #000;
	border: 1px solid #333333;
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	z-index: 9990;
}

#navigation {
	position: fixed;
	top: 100px;
	left: 0px;
	width: 220px;
	margin: 0px;
	padding: 0px;
	z-index:9999;
}
#navigation ul, ul li ul {
	position: relative;
	margin-left: -220px;
	list-style: none;
	padding-top: 0px;
}
#navigation ul li, ul li ul li { 
	position: relative;
	list-style: none;
	padding-top: 10px;
}

/* Top-level menu */
/* Top- and Sub- level menu */
#navigation li a, ul li ul li a {
	font-family:"Myriad Pro","Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: 4px;
	color:#FFFFFF;
/* 	display: block; */
	height: 50px;
	line-height: 50px;
 	padding: 15px;
 	margin-top: 20px; 
	background: #000;
	border: 1px solid #333333;
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	text-decoration:none;
}
#navigation li a {
	background: #000;
}
#navigation ul li ul li a {
	background: #050505;
}
#navigation li a:hover,ul li ul li a:hover {
	text-shadow: 0px 0px 10px #FFFFFF;
	opacity: 0.9;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
/* 	text-decoration:underline; */
}
#navigation .menu li .sub-menu li a {
	padding-left: 38px;
}

#navigation .menu .sub-menu.closed {
	display: none;
}
#navigation .menu li a.closed {
	padding-right: 30px;
	background:#000 url("../images/icons/down.png") no-repeat 95% center;
}

#navigation .menu li a.opened {
	padding-right: 30px;
	background:#000 url("../images/icons/up.png") no-repeat 95% center;
}

#outer_container{
	position:fixed;
	bottom:-160px;	/*-160px to hide*/
	margin:0px 0px 30px 0px;
	height:130px;
	padding:0;
	-webkit-box-reflect:
	below 5px -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(transparent),
		color-stop(0.6, transparent),
		to(rgb(18, 18, 18))
	);
}
#thumbScroller {
	position:relative;
	overflow:hidden;
}
#thumbScroller .container {
	position:relative;
	left:0;
}
#thumbScroller .content {
	float:left;
}
#thumbScroller .content div{
	margin:2px;
	height:100%;
}
#thumbScroller img,
img.clone{
	border:5px solid #fff;
	height:120px;
}
#thumbScroller a{
	padding:2px;
	outline:none;
}
.fp_overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background:transparent url(../images/icons/pattern1.png) repeat-x bottom left;
	opacity: 0.3;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}
.fp_loading{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	margin:-35px 0px 0px -35px;
	background:#000 url(../images/icons/loader.gif) no-repeat center center;
	width:70px;
	height:70px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	z-index:999;
	opacity:0.7;
}
#fp_next,
#fp_prev {
	z-index:9998;
}
.fp_next,
.fp_prev{
	width:50px;
	height:50px;
	position:fixed;
	top:30px;
	margin-top:-15px;
	cursor:pointer;
	opacity:0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.fp_next:hover,
.fp_prev:hover{
	opacity:0.9;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
.fp_next{
	background:#000 url(../images/icons/next.png) no-repeat center center;
	right:-50px;
}
.fp_prev{
	background:#000 url(../images/icons/prev.png) no-repeat center center;
	left:-50px;
}
.fp_thumbtoggle{
	height:50px;
	background:#000;
	width:200px;
	text-align:center;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	position:fixed;
	left:50%;
	margin-left:-100px;
	bottom:-50px;
	line-height:50px;
	cursor:pointer;
	opacity:0.8;
}
.fp_thumbtoggle:hover{
	opacity:1.0;
}
img.fp_preview{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
}